.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connector-line {
  background-color: #3fb2ff; /* 線の色 */
  height: 2px; /* 線の太さ */
  width: 8.7%; /* 横に伸ばす */
  position: absolute; /* 絶対位置指定 */
  left: 46.5%; /* 左から50％に配置 */
  top: 43%; /* 要素の中央に配置 */
  transform: translateY(-50%); /* 正確に中央に来るように調整 */
}

